on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: build

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        arch:
          - amd64
          - arm64

    steps:
      - run: uname -a
      - run: ldconfig -p
      - run: lsb_release -a

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: build
        run: docker buildx build . --platform linux/${{matrix.arch}} --output type=docker,dest=$arch
